@property --gwentButtonInitBackground {
    syntax: "<color>";
    initial-value: rgb(44, 36, 30);
    inherits: false;
}

@property --gwentButtonInitBackgroundEnd {
    syntax: "<color>";
    initial-value: rgb(44, 36, 30);
    inherits: false;
}

.gwent-input-container {
    label {
        background: linear-gradient(
                to right,
                var(--gwentButtonTextInitBackground) 0%,
                var(--gwentButtonTextInitBackgroundEnd) 100%
            )
            text;
        -webkit-text-fill-color: transparent;

        &.label-dark {
            background: unset;
            color: black;
            -webkit-text-fill-color: unset;
        }
    }
}

.gwent-input {
    position: relative;
    height: fit-content;
    background: linear-gradient(
        180deg,
        var(--gwentButtonInitBackground),
        var(--gwentButtonInitBackgroundEnd)
    );

    input,
    select {
        background: linear-gradient(
            180deg,
            var(--gwentButtonInitBackground),
            var(--gwentButtonInitBackgroundEnd)
        );
        height: 100%;
        width: 100%;
        border: none;
        color: white;
        z-index: 10;
        background-color: #2c241e;

        &:focus {
            outline: none;
        }


    }

    &::before,
    &::after {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        height: 3rem;
        left: 0;
        width: 100%;
        background-image: url("/images/tab-border-93186012.png");
        background-size: contain;
        background-repeat: no-repeat;
        transition: filter 0.2s ease-in-out;
    }

    &::after {
        bottom: 0;
        top: auto;
        transform: scaleY(-1);
    }

    &.focused::before,
    &.focused::after {
        filter: grayscale(0) brightness(1.1) sepia(1) hue-rotate(105deg) saturate(6)
            brightness(1.4);
    }
}
