.gwent-card {
    background-image: url("images/left-column-bg-c3495a70 (1) (1).jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 4rem 3rem;
}
