@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gwent";
    src:
        local("Gwent"),
        url(fonts/Gwent/gwent_extrabold.ttf) format("woff");
}

* {
    font-family: Gwent, serif;
    user-select: none;
}

body {
    background: #000000;

    border-style: solid;
    border-radius: 0;
    border-image-slice: 22;
    border-image-outset: 0;
    border-image-repeat: round;

    background-repeat: repeat;
    background-position: center center;
    background-size: cover;

    background-image: url("/images/bg-seamless-short-netdecking-c7f954c0.jpg");
    height: 100vh;
}
.tab-links-container {
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 4rem 0 4rem 3rem;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}
.tab-link {
    position: relative;

    filter: brightness(0.8) grayscale(1);
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15% 50%);
    background-size: cover;
    transition: 0.3s ease-in-out;
    right: 0;
    transform: translate(0%, 0%);

    &.tab-link-selected {
        transition: 0.3s ease-in-out;
        filter: brightness(1.5);
        right: 25px;

        &:hover {
            right: 25px;
        }
    }

    &.tab-link-loading {
        animation: moveBackground 4s linear infinite;
    }

    &.tab-link-bottom {
        margin-top: auto;
    }

    &.tab-link-fixed {
        display: flex;
        align-items: center;
        right: 25px;
        padding-left: 25px;
        filter: hue-rotate(-300deg) brightness(1) grayscale(0.5);

        &:hover {
            right: 25px;
            filter: hue-rotate(-300deg) brightness(2) grayscale(0.5);
        }

        img {
            width: 3rem;
            height: 3rem;
            opacity: 0.4;
            mask-image: url("/images/clean-gray-paper.png");
        }
    }

    &:hover {
        right: 10px;
    }
}

.text-gradient {
    background: linear-gradient(
            to right,
            var(--gwentButtonTextInitBackground) 0%,
            var(--gwentButtonTextInitBackgroundEnd) 100%
        )
        text;
    -webkit-text-fill-color: transparent;
}

@keyframes moveBackground {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0;
    }
}
