@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gwent";
    src:
        local("Gwent"),
        url(fonts/Gwent/gwent_extrabold.ttf) format("woff");
}

* {
    font-family: Gwent, serif;
    user-select: none;
}

body {
    background: #000000;

    /*border-image-source: url("images/frame-fa00d6ac.png");*/
    /*border-width: 24px;*/
    border-style: solid;
    border-radius: 0;
    border-image-slice: 22;
    border-image-outset: 0;
    border-image-repeat: round;

    background-repeat: repeat;
    background-position: center center;
    background-size: cover;

    background-image: url("images/bg-seamless-short-netdecking-c7f954c0.jpg");
    height: 100vh;
}

.tab-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    top: 45px;
    right: 86%;
    position: absolute;
    transform: rotate(90deg);
    z-index: 0;
}

.tab-link {
    position: relative;

    filter: brightness(0.8) grayscale(1);
    width: 4rem;
    height: 10rem;
    cursor: pointer;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 50% 87%, 0% 100%, 0% 0%);
    /*box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);*/
    background-size: cover;
    transition: 0.3s ease-in-out;
    top: 0;

    &.tab-link-selected {
        transition: 0.3s ease-in-out;
        filter: brightness(1.2);
        top: 25px;

        &:hover {
            top: 25px;
        }
    }

    &:hover {
        top: 10px;
    }
}
